body {
  font-family: sans-serif;
  padding: 0 20px;
  background-color: rgb(247, 247, 234);
}

h1 {
  text-align: center;
  font-weight: 500px;
  margin: 0;
  font-size: 30px;
  line-height: 48px;
}

h2 {
  margin: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.logo {
  position: relative;
  left: 300px;
  width: 100px;
}
.time {
  font-size: 24px;
  font-weight: bold;
}
.time small {
  font-size: 14px;
  vertical-align: middle;
}
.date {
  opacity: 0.7;
  margin-top: 5px;
  border-bottom: 1px dashed gray;
}
img {
  width: 20px;
}
select {
  font-size: 16px;
  padding: 10px;

  border-radius: 6px;
  width: 100%;
}
.city {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.portfolio {
  color: grey;
}
a {
  color: aliceblue;
  font-family: monospace;
  font-size: 14px;
}
